[Unit]
Description=nekobox Service
Documentation=https://github.com/xtls
After=network.target nss-lookup.target

[Service]
DynamicUser=yes
CacheDirectory=nekobox
LogsDirectory=nekobox
RuntimeDirectory=nekobox
StateDirectory=nekobox
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true
ExecStart=/usr/bin/nekobox
Restart=on-failure
RestartPreventExitStatus=23

[Install]
WantedBy=multi-user.target
